includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    # The level 9 is the highest level
    level: 9

    paths:
        - app
        - database
        - routes
        # - tests

    checkGenericClassInNonGenericObjectType: false
    excludePaths:
        - ./routes/console.php
    checkMissingIterableValueType: false
